<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034721706786-610jcnp6ghq2iutamffjgao90k2v9p29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034721706786-610jcnp6ghq2iutamffjgao90k2v9p29</string>
	<key>API_KEY</key>
	<string>AIzaSyAUvwYlOI2nCz3VXcwjzPC5Rr5GAvMvOy8</string>
	<key>GCM_SENDER_ID</key>
	<string>1034721706786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMaps</string>
	<key>PROJECT_ID</key>
	<string>fluttermaps-81767</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermaps-81767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034721706786:ios:bba8c824b78a0602959b7b</string>
	<key>DATABASE_URL</key>
	<string>https://fluttermaps-81767-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>